$blue: rgb(51, 175, 138);
$yellow: rgb(255, 208, 0);

table {
    margin: 30px;
    border: 3px solid $yellow;
    border-radius: 10px;
    padding: 30px;
    color: grey;
    -webkit-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.14);
    box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.14);
  
    th {
        padding: 15px;
        color: rgb(51, 175, 138);;
        text-transform: uppercase;
        text-align: center;
    }
  
    tr {
        margin-left: 10px;
        margin-right: 10px;
        text-align: right;
        border-radius: 50px;
        

        /*&:hover {
            background-color: transparent;
            border-bottom: 1px solid $blue;
            -webkit-box-shadow: 0px 0px 57px 11px $yellow;
            -moz-box-shadow: 0px 0px 57px 11px $yellow;
            box-shadow: 0px 0px 57px 11px $yellow;
        }*/
    }

    td {
        padding-left: 30px;
        padding-right: 30px;
    }
    
  }