@import '../../styles/colors.scss';

.SearchBar {
    display: flex;
    justify-content: center;
    align-items: center; 
    outline: none;
    margin-bottom: 50px;
     
    input {
        width: 100%;
        padding: 15px;
        border: 3px solid  $blueLight;
        border-radius: 50px;
        -webkit-box-shadow: inset 7px 9px 10px -5px $blackShadow;
        -moz-box-shadow: inset 7px 9px 10px -5px $blackShadow;
        box-shadow: inset 7px 9px 10px -5px $blackShadow;
        font-size: 18px;
        color: grey;
        &:focus {
            border: 3px solid $blue;  
            outline: none;
        }
        &:hover {
            border: 3px solid $blue;   
        }
    }
    ::placeholder { 
        font-style: italic;
        color: rgb(187, 187, 187);
        opacity: 1; 
    }
}