@import '../../styles/Table.scss';
@import '../../styles/colors.scss';

.ConsoPage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;

    h1 {
        color: $blue;
        text-align: center;
        text-transform: uppercase;
        font-weight: lighter;
    }

    &__header {
        width: 100%;
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 30px;
    }
}


    





