@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.MeterCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

    &__card {
        @include buttonEnergy;
        color: grey;
        border: 3px solid $blueLight;
        cursor: pointer;
        transition: transform 300ms ease-in-out;
        
        &:hover {
            h2 {
                color:  $blue;   
            }
            border: 3px solid $blue;
        }
    }
}

.selected {
    h2 {
        color:  $blue;   
    }
    @include buttonEnergy;
    border: 3px solid $yellow;
    -webkit-box-shadow: -1px 0px 74px 4px $yellow;
    -moz-box-shadow: -1px 0px 74px 4px $yellow;
    box-shadow: -1px 0px 74px 4px $yellow;
    transform: scale(1.15);
    transition: transform 300ms ease-in-out; 

    p {
        color: grey;
    }
}
